@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
  --primary: #3c73b9;
  --primary-opacity: rgba(60, 115, 185, 0.8);
  --spacing: 30px;
}

body {
  background-color: #e9ebed;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.mt {
  margin-top: 100px;
}

@media (max-width: 500px) {
  * {
    --spacing: 15px;
  }
}
